@{
    ViewData["Title"] = "Home Page";
}
<h5>Post a Message</h5>
@await Html.PartialAsync("../Post/_FormMessage", new Message())
@model List<Message>

<div class="list-group">
    @foreach (var message in Model)
    {
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">@message.Creator?.FirstName @message.Creator?.LastName </h3>
                <small>@message.CreatedAt.ToString("dd MMMM, yyyy")</small>
            </div>
            <p class="mb-1">@message.MessageText</p>
            <div class="list-group">
                <div class="list-group-item list-group-item-action" aria-current="true">
                    @foreach (var comment in message.Comments)
                    {
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@comment.User.FirstName @comment.User.LastName</h5>
                            <small>@comment.CreatedAt.ToString("dd MMMM, yyyy")</small>
                        </div>
                        <p class="mb-1">@comment.CommentText</p>
                        <hr />
                    }
                    <h5>Post a Comment</h5>
                    @await Html.PartialAsync("../Post/_FormComment", new Comment { MessageId = message.MessageId })
                </div>
            </div>
        </a>
    }
</div>
